<home hidden="true" [hidden]="false"> <!-- a trick so prevent the content being displayed before data binding has completed (happens occasionally in safari) -->

    <input [value]="undefined" [hidden]="true" /> <!-- bugfix, allows binding on 'value' for sub-components -->

    <div id="converterContainer" [hidden]="!canPerformConversions">

        <div class="row adjusted"> <!-- adjust emulate center column -->
            <div class="col-xs-12 col-sm-5 left-hand-side" [class.category-mismatch]="shouldDisplayLeftSideInvalid">   
                <div>
                    <!-- <editable #z [value]="fromValue" enforcedValuePattern="^\d*([\.,]\d*)?$" defaultValue="0" isAutoFocusEnabled="true" (input)="fromValueInput($event, z)" /> -->
                    <number-input 
                        #left_value_number_input 
                        [value]="leftValue" 
                        [isautofocusenabled]="true" 
                        (valuechange)="onLeftValueChange(left_value_number_input)" 
                        (focus)="onLeftInputFocus()" 
                        tooltip="Not a number" 
                        class="tooltip-error" 
                        [class.tooltip-hide]="!left_value_number_input.isInvalid" 
                        />
                </div>
                <div>
                    <code-input 
                        #left_code_input 
                        [categoryitem]="leftCategoryItem" 
                        (validcodechange)="onLeftCodeChange(left_code_input)" 
                        (focus)="onLeftInputFocus()" 
                        />
                </div>
            </div>        

            <div 
                class="col-xs-offset-4 col-xs-4 col-sm-offset-0 col-sm-1 home-equality" 
                [tooltip]="categoryItemCategoryMismatchErrorMessage" 
                [class.tooltip-hide]="false === areCategoriesInMismatch" 
                [class.tooltip-position-left]="isWidthSmall" >  
                =    
            </div>

            <div class="col-xs-12 col-sm-5 right-hand-side" [class.category-mismatch]="shouldDisplayRightSideInvalid">   
                <div>
                    <number-input 
                        #right_value_number_input 
                        [value]="rightValue" 
                        (valuechange)="onRightValueChange(right_value_number_input)" 
                        (focus)="onRightInputFocus()" 
                        tooltip="Not a number" 
                        class="tooltip-error" 
                        [class.tooltip-hide]="false === right_value_number_input.isInvalid" 
                        [class.tooltip-position-bottom]="isWidthSmall" >  
                        />
                </div>
                <div  class="tooltip-position-bottom">
                    <code-input 
                        #right_code 
                        [categoryitem]="rightCategoryItem" 
                        (validcodechange)="onRightCodeChange(right_code)" 
                        (focus)="onRightInputFocus()" 
                        />
                </div>
            </div>        

        </div>

        <div hidden=true class="row">
            <div class="test2">
                some other div some other div some other div some other div some other div 
            </div>
        </div>
    </div>

    <span id="messageContainer">
        <div class="row" [hidden]="isRequestFailed !== true">
            <span class="home-error-prefix">Error:</span>
            failed to fetch data!
        </div>
        <div [hidden]="isRequestFailed === true">
            <div class="row" [hidden]="isRequestingDataAndIsWithoutCache !== true">
                Retrieving data..
            </div>
            <div class="row home-hint" [hidden]="isRequestingDataAndRunningWithCache !== true">
                Updating data..
            </div>
            <div class="row home-hint rates-updated-animation" [hidden]="isDataUpdated !== true">
                Data updated 
            </div>
        <div>
    <span>



</home>

