@import "../../../global";


.home-equality {
	text-align: center;
}


home {
	.rates-updated-animation {
	    animation-duration: 1.5s;
	    animation-name: rates-updated-animation-frames;
	    animation-direction: alternate;
	    animation-timing-function: ease-in-out; //linear;
	    animation-fill-mode: forwards;
	}
	@keyframes rates-updated-animation-frames {
	    //0% { opacity: 1; }
	    25% { color: black; }
	    100% { opacity: 0; }
	}	

	.category-mismatch {
		//sopacity: 0.70;
		color: lighten($color, 20%);
		// border-image: url(img/arrowDown.png);
		// border: 15px solid transparent;
	}

	.home-error-prefix {
		color: red;
	}

	.home-hint {
		font-size: 22px;
		color: #999;
		margin: 10px;
	}

	#converterContainer {
		margin-bottom: 30px;
	}

	#messageContainer {
		> * {
			text-align: center;
		}
	}

	// input {
	// 	width: 83px;
	// 	border: none;
	// }

	input, *[contenteditable] {
		font-weight: bold;
		outline-style: none;
		//text-transform: uppercase;	
		//;border-bottom: solid 3px rgb(249,249,249);
		&:focus {
			box-shadow: 0 6px 4px -4px rgb(210,210,210);
		}
	}

	*.left-hand-side, *.right-hand-side {
		@media (max-width: $screen-sm) {
			text-align: center;
		}
		> * {
			display: inline-block;
		}
	}

	*.left-hand-side {
		@media (min-width: $screen-sm) {
			text-align: right;
		}
	}

	*.right-hand-side {
		@media (min-width: $screen-sm) {
			text-align: left;
		}
	}
}


