<dropdown-input #element maxLength="3" visibilityPattern="^.{0,10}$" [blockkeycodes]="blockKeyCodes" [keymap]="keyMap" [value]="value" [defaultvalue]="defaultValue" (init)="onDropdownListInit($event)" (valuechange)="onValueChange($event, element)" (focus)="onDropdownFocus($event)">
    <div *ng-for="#rate of getDisplayCategoryItems()" class="code-list-items-container">
        <list-item #item *ng-if="rate.isVisible === true" (init)="onListItemInit($event, rate, flag)" (^mousedown)="onListItemMouseDown(rate)">  <!--alpha bug workaround-->
        	<div class="code-list-item-container">
        		<div>
        			<div #flag class="code-input-flag"></div>
        		</div>
                <div>{{rate.primaryName}}</div>
            	<div>{{rate.secondaryName}}</div>
            </div>
        </list-item>
    </div>
</dropdown-input>		

