$menu-horisontal-padding: 5px;

.code-input-flag {
	width: 32px;
	height: 32px;
}

dropdown-input {		

	.code-list-item-container {
		font-size: 24px;
		//font-family: 'Roboto Mono', ;
		//font-family: Arial	;
		white-space: nowrap;
		> * {
			display: table-cell;
			vertical-align: middle;
			text-align: left;

			padding-left: 10px;
			padding-top: 1px;

			&:nth-child(1) { // the flag container
				padding-left: $menu-horisontal-padding;
			}
			&:nth-child(2) { // the textual container
			}
			&:nth-child(3) { // the textual container
				color: #777;
			}
			&:last-child {
				padding-right: $menu-horisontal-padding;
			}
		}

		// 	clear: both;
		// :nth-child(1) {
		// 		float:left;
		// }
		// :nth-child(2) {
		// 		float: right;
		// }
		// > * {
		// 	display: inline-block;
		// 	//float: left;
		// }
	}
}