.dropdown-input-top-arrow {
    position: absolute; 
    width: 24px;
    height: 13px;
    left: 50px; 
    top: -12px;
    background-repeat: no-repeat;
//    background-image: require('url?limit=0!./popupArrow.png');
}

.dropdown-input-items {
    background-color: white;

    border-bottom-color: rgb(170, 170, 170);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-collapse: separate;
    border-left-color: rgb(170, 170, 170);
    border-right-color: rgb(170, 170, 170);
    border-top-color: rgb(170, 170, 170);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    box-shadow: rgba(0, 0, 0, 0.14902) 0px 4px 5px 0px;
    //box-sizing: content-box;

    border-style: solid;
    border-width: 1px;

    margin-bottom: 10px;
}

.dropdown-input-defaultInvalidValueClass {
    color: red;   
}

.dropdown-container {
    position: relative;
}

.dropdown-input {
    text-transform: uppercase;
    &::-webkit-input-placeholder {text-transform: none;}
    &::-moz-placeholder {text-transform: none;}
}

.dropdown-popup {
    cursor: pointer;
    position: absolute;    
    z-index: 998;
    margin-top: 8px;
    margin-left: -50px;
}

