<div class="dropdown-container">
    <editable 
      #element
      [value]="value" 
      [defaultvalue]="defaultValue"
      [keymap]="keyMap"
      [blockkeycodes]="blockKeyCodes"
      [invalidevaluator]="invalidEvaluator"
      (input)="onInput($event, element)"
      (keyup)="onKeyup($event, element)"
      (keydown)="onKeydown($event, element)"
      (keypress)="onKeypress($event, element)" 
      (focus)="onEditableFocus($event)"
      (blur)="onEditableBlur($event, element)"></editable>

      <div class="dropdown-popup" [hidden]="!isMenuVisible">
        <img src="{{topArrowBackgroundImageSource}}" class="dropdown-input-top-arrow"></img>
        <div class="dropdown-input-items">
          <ng-content></ng-content>
        </div>
    </div>
    
</div>
