@debug "*** BEGIN TOOLTIP DEBUG ***";


// variables

$quick-filter-in: (  // modify these as needed to avoid a combinatorial explosion of options
	position,
	error,
	//show,
	hide
	);


$default-parameters: (
	content: attr(tooltip),
	position: top,
	arrow-size: 10px,
	border-radius: 5px,
	background-color: rgba(0, 0, 0, 0.87),
	opacity: 0.96,
	error-background-color: red,
	center: true,
	displacement: 50%,
	arrow-displacement: 0px,
	hide: false
	);


// consts


$content-attribute: tooltip;
$tooltip-class-prefix: $content-attribute; //"tooltip";
$tooltip-positions: top right bottom left;


//$is-debug: false;

//($tooltip-class-prefix + "-
$class-parameter-mappings: ( // a list(!) of (option category) mappings, e.g. [(position-left: (position: left), (position-right..), (displace-0: (displace: 0), displace-10: (displace: 10), ..) ..)]
	(error:  (background-color: red)),
	(
		//show: (hide: false),
		hide:  (hide: true)
	),
	// ($tooltip-class-prefix + "-show":  (hide: false)),
	(
		center:  (center: true), 
		nocenter:  (center: false)
	),
	(
 		position-top: (position: top),
 		position-right: (position: right),
 		position-bottom: (position: bottom),
 		position-left: (position: left)
	)
	);


// functions

@function map-has-key-value($map, $key, $value) {
	@return map-has-key($map, $key) and map-get($map, $key) == $value;
}


@function map-add($map, $key, $value) {
	$new: ($key: $value);
	@return map-merge($map, $new);
}


@function list-subset($list, $begin, $end) {
	$result: ();
	@if $begin <= $end {
		@for $i from $begin through $end {
	    	$result: append($result, nth($list, $i));
	    }
	}

    @return $result;
}

@function power-set($list) {
	@return list-add(power-set-recurse($list), ()); 
}

@function power-set-recurse($list) {
	$is-list-empty: length($list) == 0;
	@if $is-list-empty == true {
		@return ();
	}

	$list-item: nth($list, 1); // pop first list item

	$popped-list: list-subset($list, 2, length($list));
	
	$result: (());

	$child-results: power-set-recurse($popped-list);

	@if length($list-item) == 0 { // take into account the special case of an empty category
		@each $child-result in $child-results {
			$result: append($result, $child-result)
		}
	}
	@else {
		@each $value in $list-item {
			$result: append($result, $value); // only this item


			@if (length(child-results) > 0) {
				@each $child-result in $child-results {
					$result: append($result, $child-result);	// without this item
					$result: append($result, join($value, $child-result)); // with this item
				}
			}
		}
	}

	@return $result;
}


@function list-add($list, $value) {
	@return append($list, $value);
}


@function list-diff($list1, $list2) {
	$result: ();
	@each $item1 in $list1 {
		@if index($list2, $item1) == null {
			$result: list-add($result, $item1);
		}
	}
	@each $item2 in $list2 {
		@if index($list1, $item2) == null {
			$result: list-add($result, $item2);
		}
	}

	@return $result;
}


@function map-get-key($map, $index) {
	$keys: map-keys($map);
	@return nth($keys, $index);
}


@function list-contains($list, $item) { 
	@return index($list, $item) != null; 
}


@function opposite-position($position) {
	$opposites: (left: right,
				 right: left,
				 top: bottom,
			  	 bottom: top);

	@return map-get($opposites, $position);
}


@function if-else($condition, $true-value, $false-value) {
	@if $condition == true { @return $true-value; }
	@else {	@return $false-value; }
}


@function list-tostring($list, $separator: "", $item-prefix: "", $item-postfix: "") {
	$result: "";
	@each $item in $list {
		$result: 
			$result + 
			$item-prefix +
			if-else($separator != "" and $result != "", $separator, "") + 
			$item +
			$item-postfix;
	}
	@return $result;
}




@function prepend-x($list, $value) {
	@return $list; //join($value, $list);
}


@function map-key-prefix($map, $prefix) {
	@each $key in map-keys($map) {
		$value: map-get($map, $key);
		$map: map-remove($map, $key);
		$map: map-add($map, $prefix + "-" + $key, $value);
	}

	@return $map;
}


@function str-contains($str, $substr) {
	$is-list: type_of($substr) == list;
	@if false == $is-list {
		@return str-index($str, $substr) != null;
	} 
	@else {
		@each $sub-sub-str in $substr {
			@if true == str-contains($str, $sub-sub-str) {
				@return true;
			}
		}
		@return false;
	}
}


@function map-filter-keys($map, $filter) {
	$is-filter-list: type_of($filter) == list;
	@each $key in map-keys($map) {
		$keep: true == str-contains($key, $filter);
		@if false == $keep {
			$map: map-remove($map, $key);
		}
	}

	@return $map;
}

@function prefix-options($option-mappings, $prefix) {
	@for $n from 1 through length($option-mappings) {
		$option-map: nth($option-mappings, $n);
		$option-map: map-key-prefix($option-map, $prefix);
		$option-mappings: set-nth($option-mappings, $n, $option-map);
	}

	@return $option-mappings;
}

@function map-is-empty($map) {
	@return length(map-keys($map)) == 0;
}

@function apply-quick-filter-in($option-mappings, $filter) {
	@for $n from 1 through length($option-mappings) {
		$option-map: nth($option-mappings, $n);
		@each $key in map-keys($option-map) {
			$option-map: map-filter-keys($option-map, $filter);
		}
		$option-mappings: set-nth($option-mappings, $n, $option-map);
		// @if map-is-empty($option-map) {

		// }
		// @else {
		// 	$option-mappings: set-nth($option-mappings, $n, $option-map);
		// }
	}

	@return $option-mappings;
}


// mixins


@mixin tooltip-apply-box() {
	&:before { @content; }	
}


@mixin tooltip-apply-arrow() {
	&:after { @content; }
}


@mixin apply() {
	@include tooltip-apply-box() { @content; }	
	@include tooltip-apply-arrow() { @content; }
}


@mixin arrow($position) {
	@include tooltip-apply-arrow() {
		width: 0; 
		height: 0; 
		$solid-border-position: opposite-position(($position));
		$solid-default: solid ;
		@each $tooltip-position in $tooltip-positions {
			@if $tooltip-position != $solid-border-position {
				border-#{$tooltip-position}-style: $solid-default;
			}
		}
		border-#{$solid-border-position}-style: $solid-default;
		// border-top-style: solid;
	}
}


@mixin apply-position($position, $arrow-size, $displacement, $arrow-displacement, $center) {
	@function if-center($center-value, $non-center-value) {
		@return if-else($center, $center-value, $non-center-value);
	}

  	$tooltip-positionis-horisontal: ($position == top or $position == bottom);

  	$box-and-arrow-transforms: ();
	@if $center == true {
  		$axis: if-else($tooltip-positionis-horisontal, X, Y);
  		$box-and-arrow-transforms: list-add($box-and-arrow-transforms, #{"translate" + $axis + "(-50%)"});
  	}

  	@mixin apply-transforms($transforms) {
	  	@if length($transforms) > 0 {
			-webkit-transform: #{list-tostring($transforms, $separator: " ")};
			transform: #{list-tostring($transforms, $separator: " ")};
		}
  	}


	@include tooltip-apply-box() {

		// $maybe-horisontal-translation: ();
		// $horisontal-translations: ();
		// if-else(
		// 	$center, 
		// 	if-else($tooltip-positionis-horisontal, 
		// 			translate(-50%, 0), 
		// 			translate(0, -50%)
		// 			),
		// 	()
		// 	);
		
		// @if $center {
		// 	transform: #{$translate + if-else($tooltip-positionis-horisontal, X, Y)}: none;
		// }

		// @if ($center)
		$box-transforms: $box-and-arrow-transforms;

		@if $position == top {
			top: 0;
  			left: $displacement;
			$box-transforms: list-add($box-transforms, translateY(calc(-100% - #{$arrow-size}))); 
			//transform: translateY(calc(-100% - #{$arrow-size}));
		}
		@else if $position == right {
			top: #{$displacement};
			left: calc(100% + #{$arrow-size});
			//transform: #{translate(0, if-center(-50%, 0)) }; 
		}
		@else if $position == bottom {
			top: #{calc(100% + #{$arrow-size}) };
  			left: $displacement;
  			// left: #{$displacement  };
			// transform: #{if-center(translate(-50%, 0), none)) };
			// transform: #{translate(
			// 	if-center(-50%, 0), 
			// 	0) }; 
		}
		@else if $position == left {
			top: $displacement;
  			left: #{0 };
			$box-transforms: list-add($box-transforms, translateX(calc(-100% - #{$arrow-size}))); 
		}

		@include apply-transforms($box-transforms);
	}	
	@include tooltip-apply-arrow() {
		$tooltip-transforms: $box-and-arrow-transforms;

		@if $position == top {
  			top: -$arrow-size;
  			left: calc(#{$displacement} + #{$arrow-displacement}); 
			//transform: #{translateY(-50%, 0) };
		}
		@else if $position == right {
			top: calc(#{$displacement} + #{$arrow-displacement});
  			left: calc(100% - #{$arrow-size});			
		}
		@else if $position == bottom {
			top: calc(100% - #{$arrow-size});
  			left: calc(#{$displacement} + #{$arrow-displacement});
  			// left: #{calc(#{$displacement} + #{$arrow-displacement}) }; 
		}
		@else if $position == left {
			top: calc(#{$displacement} + #{$arrow-displacement});
			//top: #{0 };
  			//left: #{0 };
  			left: -$arrow-size;
		}
	
		@each $tooltip-position in $tooltip-positions {
			border-#{$tooltip-position}-width: #{$arrow-size };
		}

		@include apply-transforms($tooltip-transforms);
	}	


}

@mixin apply-background-color($background-color, $position) {
	@include tooltip-apply-box() {
		background-color: #{$background-color };
	}	
	@include tooltip-apply-arrow() {
		$target-border-position: $position;
		@each $tooltip-position in $tooltip-positions {
			@if $tooltip-position != $target-border-position {
				border-#{$tooltip-position}-color: #{transparent };
			}
		}
  		border-#{$target-border-position}-color: #{$background-color };		
	}	
}


@mixin render-tooltip(	
	$tooltip-content,
	$tooltip-position,
	$tooltip-arrow-size,
	$tooltip-background-color,
	$tooltip-opacity,
	$tooltip-displacement,
	$tooltip-arrow-displacement,
	$tooltip-center,
	$border-radius,
	$hide
	) {
	@if true != list-contains($tooltip-positions, $tooltip-position) {
		@error '#{$position} is not a valid tooltip-positionson';
	}

	//$hide: true;
	@if $hide != true {
		position: relative;

		@include arrow($tooltip-position);
		@include apply-position($tooltip-position, $tooltip-arrow-size, $tooltip-displacement, $tooltip-arrow-displacement, $tooltip-center);
		@include apply-background-color($tooltip-background-color, $tooltip-position);	
		// @include apply-diplacement($tooltip-displacement, $tooltip-arrow-size);

		@include apply() {
			text-align: center;
			position: #{absolute };
			opacity: $tooltip-opacity;
		}

		@include tooltip-apply-box() {
			content: $tooltip-content;
			padding: 5px;
			border-radius: $border-radius;
			color: rgb(255, 255, 255);
			font-family: 'Lucida Grande', sans-serif;
			font-size: 11px;
			font-weight: bold;
			text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
			z-index: 9999;
			min-width: 90px;
		}

		@include tooltip-apply-arrow() {
	  		content: ""; // makes content display as block
		}
	}
}


// @mixin match-class-set($classes) {
// 	$selectors: "";
// 	@each $class in $classes {
// 		$selectors: "#{$class}" + if-else($selectors != "", ".", "") + $selectors;
// 	}
// 	@if ($selectors != "") {
// 		// @debug $selectors;
// 		&.#{$selectors} { @content; }
// 	}
// }


// applications


$class-parameter-mappings: prefix-options($class-parameter-mappings, $tooltip-class-prefix); // prefix class names

@if length($quick-filter-in) > 0 {
	@debug "Applying quick filter";
	$class-parameter-mappings: apply-quick-filter-in($class-parameter-mappings, $quick-filter-in);
}


[tooltip] { 	
 	@debug "Tooltip option categories (each category is non-combinatorial):";
 	@each $category-map in $class-parameter-mappings {
 		@debug " ⤷"; 
	 	@each $option-key in map-keys($category-map) {
	 		@debug "  | " + $option-key + ": " + map-get($category-map, $option-key);
	 	}
	}

	
	$class-categories-list: ();  // list of lists of category values, e.g. [[position-left, position-right, ..], [displace-0, displace-10, ..], ..]
	@each $class-parameter-mapping in $class-parameter-mappings {
		$class-categories-list: list-add(
			$class-categories-list, 
			map-keys($class-parameter-mapping)
			);
	}

	$class-combinations: power-set($class-categories-list); // list of possible combinations e.g. [[position-left, displace-0, ..], [position-right, displace-10, ..], ..]

	@debug "Number of unique (zero or more) option class combinations to match: " + length($class-combinations);
	// @each $class-combination in $class-combinations {
	// 	@debug "   Combination: " + $class-combination;
	// }


	$class-parameter-map: (); // map of option to parameter mappings, e.g. (position-left: (position: left), position-right: (position: right), displace-0: (displace: 0), ..)
	@each $class-parameter-mapping in $class-parameter-mappings {
		$class-parameter-map: map-merge($class-parameter-map, $class-parameter-mapping);
	}
	$classes: map-keys($class-parameter-map); // list of all option values, e.g. [position-left, position-right, displace-0, ..]
	@function class-to-parameter($class) {
		@return map-get($class-parameter-map, $class);
	}


	$parameter-class-map: ();
	@each $class in map-keys($class-parameter-map) {
		$parameter-class-map: map-add($parameter-class-map,
			map-get($class-parameter-map, $class),
			$class
			);
	}
	@function parameter-to-class($parameter) {
		@return map-get($parameter-class-map, $parameter);
	}


	@each $class-combination in $class-combinations {
		$parameters: $default-parameters;

		@each $option in $class-combination {
			$parameter-tuple: map-get($class-parameter-map, $option);
			$parameters: map-merge($parameters, $parameter-tuple);
		
		}

		$class-combination-selector: list-tostring($class-combination, $item-prefix: ".");

		$non-class-combination: list-diff($class-combination, $classes);
		$combination-options-class-non-selector: list-tostring($non-class-combination, 
			$item-prefix: ":not(.", 
			$item-postfix: ")"
			);

		&#{$combination-options-class-non-selector}#{$class-combination-selector} { // apply the unique class (and implicitly, non-class) combination
			@include render-tooltip(
				map-get($parameters, content),
				map-get($parameters, position),
				map-get($parameters, arrow-size),
				map-get($parameters, background-color),
				map-get($parameters, opacity),
				map-get($parameters, displacement),
				map-get($parameters, arrow-displacement),
				map-get($parameters, center),
				map-get($parameters, border-radius),
				map-get($parameters, hide)
				);
		}


	}

}


@debug "*** END TOOLTIP DEBUG ***";
