$screen-sm: 768px;
$color: #333;

$media-types: (phone: '(max-width: 480px)',
               tablet-portrait: '(max-width: 767px)',
               tablet-landscape-desktop: '(min-width: 768px) and (max-width: 979px)',
               large-desktop: '(min-width: 1200px)',
               non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)',
               retina: 'screen and (-webkit-min-device-pixel-ratio: 2)');

@mixin respond-to($media) {
    @if not map-contains($media-types, $media) {
      @warn "#{$media} is not a known media type. Using large-desktop instead.";
      $media: large-desktop;
    }
    @media #{map-get($media-types, $media)} {
        @content;
    }
}

// @mixin raw ($string) {
//   $string: '*/#{$string}/*';
//   /*#{$string}*/
// }





// @include respond-to(phone) {
//     .foo {
//         background: blue;
//     }
// }
