editable *[contenteditable] {
	display: inline-block;
	min-width: 20px;
	/* &:after {
		content: attr(value);
	} */
}

$border-width: 10px;
$animation-duration: 0.2s;

.editable-defaultInvalidInputAnimation {
    animation-duration: $animation-duration;
    animation-name: editable-defaultInvalidInputAnimation-frames;
}

@keyframes editable-defaultInvalidInputAnimation-frames {
    0% { box-shadow: inset 0 0 $border-width transparent; }
    50% { box-shadow: inset 0 0 $border-width red }
    100% { box-shadow: inset 0 0 $border-width transparent; }
}

.editable-invalid {
    color: red;   
}
